{% extends "dash/base.html" %} 

{% block title %} Devices {% endblock %}

{% block content %}
    <h1>Devices</h1>
    <h2>Cameras:</h2>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Camera Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Flash</th>
            <th>Pic Interval</th>
            <th>IP Address</th>
            <th>Firmware</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
    {% for device in devices %}
    <tr>
        <td>{{ device.id }}</td>
        <td>
            <a href="{% url 'devices:setcamstatus' %}?device={{ device.id }}">
            <button type="button" class="btn btn-outline-primary">
            {{ device.status }}</button></a>
        </td>
        <td>{{ device.name }}</td>
        <td>{{ device.description }}</td>
        <td>{{ device.location }}</td>
        <td>
            <a href="{% url 'devices:setcamflash' %}?device={{ device.id }}">
                <button type="button" class="btn btn-outline-primary">
                    {% if device.status.flash %}
                        On
                    {% else %}
                        Off
                    {% endif %}
                </button>
            </a>
        </td>
        <td>{{ device.data.picInterval }}</td>
        <td>{{ device.ip }}</td>
        <td>{{ device.firmware }}</td>
        <td><a class="btn btn-primary" href="{% url 'devices:edit-cam' device.id %}">Edit</a></td>
        <td><a class="btn btn-danger" href="#">Delete</a></td>
    </tr>
    {% endfor %}
    </table> 
    {% for device in devices %}
        <p>{{ device.ip }}</p>
        <p>{{ device.status }}</p>
        <p>{{ device.data }}</p>

    {% endfor %}

    <p>
        <a class="btn btn-success" href="{% url 'devices:add-cam' %}">Add Device</a>
    </p>
    <h2>Other Devices</h2>

{% endblock %} 
