{% extends "dash/base.html" %} 

{% block title %} Devices {% endblock %}

{% block content %}
    <h1>Devices</h1>
    <h2>Cameras:</h2>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Status</th>
            <th>Camera Name</th>
            <th>Description</th>
            <th>Location</th>
            <th>Flash</th>
            <th>Pic Interval</th>
            <th>IP Address</th>
            <th>Firmware</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    
    {% for device in cameras %}
    <tr>
        <td>{{ device.id }}</td>
        <td>
            <a href="{% url 'devices:setcamstatus' %}?device={{ device.id }}">
            <button type="button" class="btn btn-outline-primary">
            {{ device.device_status }}</button></a>
        </td>
        <td>{{ device.device_name }}</td>
        <td>{{ device.device_description }}</td>
        <td>{{ device.device_location }}</td>
        <td>
            <a href="{% url 'devices:setcamflash' %}?device={{ device.id }}">
                <button type="button" class="btn btn-outline-primary">
                    {% if device.device_flash %}
                        On
                    {% else %}
                        Off
                    {% endif %}
                </button>
            </a>
        </td>
        <td>{{ device.device_picinterval }}</td>
        <td>{{ device.device_ip }}</td>
        <td>{{ device.device_firmware }}</td>
        <td><a class="btn btn-primary" href="{% url 'devices:edit-cam' device.id %}">Edit</a></td>
        <td><a class="btn btn-danger" href="#">Delete</a></td>
    </tr>
    {% endfor %}
    </table> 
    <p>
        <a class="btn btn-success" href="{% url 'devices:add-cam' %}">Add Device</a>
    </p>
    <h2>Other Devices</h2>

{% endblock %} 
