{% extends "dash/base.html" %} 

{% block title %}Edit Camera{% endblock %}

{% block content %} 

<form method = "post" class="form">

        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="{{ form.description.id_for_label }}">Description:</label>
            {{ form.description }}
        </div>
        <div class="form-group">
            <label for="{{ form.location.id_for_label }}">Location:</label>
            {{ form.location }}
        </div>
        <div class="form-group">
            <label for="{{ form.status.id_for_label }}">Status:</label>
            {{ form.status }}
        </div>
        {{ form.flash }}
        {% if form.type == 'CAM' %}
            <div class="form-group">
                <label for="{{ form.flash.id_for_label }}">Flash:</label>
                {{ form.flash }}
            </div>
        {% endif %}

    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}