{% extends "dash/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Alarm Objects{% endblock %} 

{% block content %} 

    <div class="container">
        <div class="form-group row my-5">
            <form method="POST" class="form" action="{% url 'alarm:alarm-detection' %}">
                {% csrf_token %} 
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Cleaned Name</th>
                            <th>Alarm On Object</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in form_instances %}
                            <tr>
                                <td>{{ form.instance.name }}</td>
                                <td>{{ form.name_cleaned.name }}</td>
                                <td>{{ form.alarm_on_object }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
        </div>
    </div>
        
    

{% endblock %} 