{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="The Friends Social Media website">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Friends, Social Media, Web Development">
        <meta name="author" content="Werner Brocker">

        {% load bootstrap5 %} 
        {% bootstrap_css %} 
        {% bootstrap_javascript %}        

        <!-- Script to load any Tooltips -->
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
        </script>

        <style>
            .image-container {
                position: relative;
                display: inline-block;
            }

            .bounding-box {
                position: absolute;
                border: 2px solid red;
                pointer-events: none;
            }
        </style>

        <title>{% block title %}Dashboard{% endblock %}</title>

    </head>
    <body>

        <div class="container">
            <ul class="nav bg-info">
                <li class="nav-item">
                    <a class="nav-link link-light" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/images">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="/devices">Devices</a>
                </li>
            </ul>
        </div>

        <div class="container pt-2 container-fluid">
        {% block content %} {% endblock %}
        </div>
    </body>
    </html>
