{% extends "dash/base.html" %} 
{% load humanize %}

{% block title %}Image List{% endblock %} 

{% block content %} 
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-danger float-end" href="{% url 'imgcapture:del_all' %}">Delete All</a>
            </div>
        </div>
    </div>
    

    <table style="width: 100%;" class="table">
        <tr>
            <th>Id</th>
            <th data-bs-toggle="tooltip" title="Camera that took pic">Camera</th>
            <th data-bs-toggle="tooltip" title="Thumbnail">Image</th>
            <th data-bs-toggle="tooltip" title="Image Creation date">Created</th>
            <th data-bs-toggle="tooltip" title="Image Analysis">Classified</th>
            <th data-bs-toggle="tooltip" title="What has been identified?">Identification</th>
            <th data-bs-toggle="tooltip" title="Do not delete image">DND</th>
            <th>Delete</th>
        </tr>
    {% for image in images %} 
        <tr>
            <td>{{ image.id }}</td>
            <td data-bs-toggle="tooltip" title="Click to get images from this camera only">
                <a class="btn btn-primary" href="{% url 'dashboard:image-by-cam' camId=image.cameraId %}">{{ image.cameraId }}</a>
            </td>
            <td><a href="{% url 'dashboard:image' pk=image.id %}">
                <img src="{{ image.image.url }}" class="img-thumbnail" height="200" width="200"></a></td>
            <td data-bo-toggle="tooltip" title="{{ image.created }}">{{ image.created|timesince }} ago</td>
            <td>{{ image.analyzed }}</td>
            <td>
                <!-- {{ image.detection_data }} -->
                {% for detection in image.detection_data.detections %}
                    {% for category in detection.categories %}
                        {% if category.score >= 0.5 %}
                            <p>
                                {{ category.category_name }}
                            </p>
                        {% endif %}
                    {% endfor %} 
                {% endfor %}
            </td>
            <td data-bs-toggle="tooltip" title="Del - Image will be deleted DND - Image will be kept">
                {% if image.dnd %}
                    <a class="btn btn-outline-success" href="{% url 'imgcapture:dnd' image.id %}">DND</a>
                {% else %}
                    <a class="btn btn-outline-warning" href="{% url 'imgcapture:dnd' image.id %}">Del</a>
                {% endif %}
            </td>
            <td>
                <a class="btn btn-danger" href="/api/delete/{{ image.id }}">Delete</a>
            </td>
        </tr>
        
    {% endfor %} 
    </table>

    <!-- Disply the pagination links -->


      <ul class="pagination justify-content-center">
        {% if images.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ images.previous_page_number }}">Previous</a></li>
        {% endif %}
    
        {% if images.number > 3 %}
            <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
            {% if images.number > 4 %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
        {% endif %}
    
        {% for num in images.paginator.page_range %}
            {% if num == images.number %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > images.number|add:'-3' and num < images.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
    
        {% if images.paginator.num_pages > images.number|add:'3' %}
            {% if images.paginator.num_pages > images.number|add:'4' %}
                <li class="page-item disabled"><span class="page-link">...</span></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page={{ images.paginator.num_pages }}">{{ images.paginator.num_pages }}</a></li>
        {% endif %}
    
        {% if images.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ images.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>


{% endblock %} 