{% extends "dash/base.html" %} 

{% block content %} 

    <table>
        <tr>
            <th>Image Id</th>
            <th>CameraId</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Detection Details</th>
            <th>Re-Check</th>
        </tr>
    
        <tr>
            <td>{{ image.id }}</td>
            <td>{{ image.cameraId }}</td>
            <td>{{ image.created }}</td>
            <td>{{ image.updated }}</td>
            <td>{{ image.detection_data.detections }}</td>
            <td><a href="{% url 'imgcapture:analyze' pk=image.id %}">Analyze</a></td>
        </tr>
    </table>
    <div class="image-container">
        <img src="{{ image.image.url }}" alt="Image">
        {% for detect in image.detection_data.detections %} 
            <!-- Only draw boundinx box if score > 0.5 -->
            {% for category in detect.categories %}
                {% if category.score >= 0.5 %}
                    <div class="bounding-box" style="left: {{ detect.bounding_box.origin_x }}px;
                                                    top: {{ detect.bounding_box.origin_y }}px; 
                                                    width: {{ detect.bounding_box.width }}px; 
                                                    height: {{ detect.bounding_box.height }}px;"></div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        
    </div>
    <br />

    <a href="{% url 'dashboard:image-list' %}">Back</a>

    </table>
{% endblock %} 